<div class="row">
    <div class="col-md-12">
        <h2>Stores<a href="/stores/add" class="btn btn-success pull-right">Add New Store</a></h2>
        <hr />
        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Store Id</th>
                <th>Store Name</th>
                <th>Store Phone</th>
                <th>Store Address</th>
            </tr>
            </thead>
            <tbody>
                {{#each stores}}
                <tr>
                    <td><a href="/store/{{storeId}}">{{storeId}}</a></td>
                    <td><a href="/cars?carMake={{storeName}}">{{storeName}}</a></td>
                    <td><a href="tel:{{storePhone}}">{{storePhone}}</a></td>
                    <td>{{storeAddress}}, {{storeCity}}</td>
                    <td><a href="/stores/delete/{{storeId}}" class="btn btn-danger">remove</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>
    {{#unless people}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>
